<ion-view view-title ="Associação Cuiabana de Skateboard">
  <ion-content>
     </ion-content>
</ion-view>
<ion-pane> 
    
      <ion-content>
   <!-- cadastro Nome -->
      <div class="list">
        <label class="item item-footer item-stacked-label">
          <span class="footer-label">Nome</span>
          <input type="text" placeholder="José Pedro">
        </label>
        <!-- Cadastro Endereço -->
        <label class="item item-input item-stacked-label">
          <span class="input-label">Endereço</span>
          <input type="text" placeholder="Rua A, quadra 20, casa 10" >
        </label>
          <!-- Selecionar sexo -->
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Sexo
            </div>
            <select>
              <option selected>Masculino</option>
              <option>Feminino</option>
            </select>
          </label>
          <!-- Cadastro de E-mail -->
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="josepedro@arrumoseupc.com.br">
        </label>
         <!-- Cadastro de telefone -->
        <label class="item item-input item-stacked-label">
          <span class="input-label">Telefone</span>
          <input type="text" placeholder="65-99441741">
        </label>
      <!-- botao realizar Cadastro -->
        <button class="button button-full button-balanced">
         Realizar Cadastro
        </button>
        </div>
      </ion-content>
    </ion-pane>