<ion-view view-title="Associação Cuiabana de Skateboard">
  <ion-content>
   <!-- cadastro Nome -->
      <div class="list">
        <label class="item item-footer item-stacked-label">
          <span class="footer-label">Nome</span>
          <input type="text" placeholder="José Pedro">
        </label>
          <!-- Cadastro de E-mail -->
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="josepedro@arrumoseupc.com.br">
        </label>
         <!-- Cadastro de telefone -->
        <label class="item item-input item-stacked-label">
          <span class="input-label">Telefone</span>
          <input type="text" placeholder="65-99441741">
        </label>
        <!-- comentario -->
        <label class="item item-input item-stacked-label">
        <span class="input-label"> Comentario </span>
         <input type="text" size="120" placeholder="deixe aqui sua reclamação ou suguestao sobre acs">
        
        </label>
      <!-- botao realizar Cadastro -->
        <button class="button button-full button-balanced">
        Enviar E-mail
        </button>
        </div>
      </ion-content>
  </ion-content>
</ion-view>
